@{
    ViewBag.Title = "Contacto del Sistema Fénix";
    ViewBag.Message = "Información de Contacto";
}

<div class="jumbotron jumbotron-fondo text-center">
    <h1>Contacto</h1>
    <p class="lead">Información para soporte y consultas</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white p-4 rounded">
                <h2>Información de Contacto</h2>
                <address>
                    <strong>Soporte Sistema Fénix</strong><br>
                    Desarrollador: Javier Marchena Gallo<br>
                    <abbr title="Correo Electrónico">Email:</abbr>
                    <a href="mailto:soporte@sistemafenix.com">soporte@sistemafenix.com</a><br>
                    <abbr title="Teléfono">Teléfono:</abbr> (506) 8888-8888
                </address>

                <h2>Horario de Atención</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Lunes a Viernes</td>
                            <td>8:00 AM - 6:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sábados</td>
                            <td>9:00 AM - 1:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>